<div id='sortlist'></div>

<h1>Home page</h1>
<%= link_to 'go back', root_path, class: "btn btn-info" %>
<hr>
<div id="app"></div>
<hr>
<div id='widget'>
  <hello name="lugatex@yahoo.com"></hello>
</div>
<hr>
<div id="watching">
  <input v-model="my_send">
  <hr>
  <input :value="my_send"
         @input="my_send =$event.target.value">
</div>

<hr>
<div id="world"></div>

<%= javascript_pack_tag 'hello_vue' %>
<%= javascript_pack_tag 'watch_vue' %>
<%= javascript_pack_tag 'world_vue' %>
