<div id="app"></div>
<div id='sortlist'></div>
<div id='widget'></div>

<div id="book"></div>
<%= javascript_pack_tag 'book_vue' %>
<%= stylesheet_pack_tag 'book_vue' %>

<p id="notice"><%= notice %></p>
