<script type="text/x-template" id="sortlist-template">
  <table>
    <thead>
    <tr>
      <th v-for="key in columns"
          @click="sortBy(key)"
          :class="{ active: sortKey == key }">
        {{ key | capitalize }}
        <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
          </span>
      </th>
    </tr>
    </thead>
    <tbody>
    <tr v-for="entry in filteredData">
      <td v-for="key in columns">
        {{entry[key]}}
      </td>
    </tr>
    </tbody>
  </table>
</script>

<div id='widget'></div>
<div id="app"></div>
<div class="container" id="sortlist">
  <div class="row align-items-start">
    <div class="col"></div>
    <div class="col-10">
      <h1>Sort Example</h1>
      <%= link_to 'go back', root_path, class: "btn btn-info" %>
      <hr>
      <form id="search">
        Search <input name="query" v-model="searchQuery">
      </form>
      <hr>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
      <sortlist-grid
      :data="gridData"
      :columns="gridColumns"
      :filter-key="searchQuery">
      </sortlist-grid>
    </div>
    <div class="col"></div>
  </div>
</div>
